

// heroTeasers ======================================================================================
 


/*
$heroPanelBorderColor: transparent;
$heroPanelHeadColor: white;
$heroPanelHeadingSize: 2rem;
$heroPanelHeadingLineHeight: 1em;
*/




div.heroTeasers {



            div.teaser_wrapper{
                position: relative;
                overflow: hidden;
                // padding-top: 35%;
                min-height: 30rem;
                margin: $gutter 0 (4 * $gutter) 0;
                width: 100% !important;
                flex-basis: 100% !important;
            }


            .teaser_image  {
                position: absolute;
                top: 0;
                bottom: 0;
                left: $gutter / 2;
                right: $gutter / 2;
            }

            .teaser_image .contextual-region {
                position: static;
            }

            .teaser_image img {
                width: 100%;
                display: block;
                height: auto;
                position: absolute;
                left: 0;
                right: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            .teaser_text_panel_outer {
                position: absolute;
                background: $heroPanelTextback;
                color: $heroPanelTextColor;
                // top: $gutter;
                right: $gutter /2;
                bottom: 0;        
                margin-left: $gutter;
                border: 1px solid $heroPanelBorderColor;
                width: 100%;
            }

            @media only screen and (min-width: $breakpointTablet) { .teaser_text_panel_outer { width: 50%; width: calc(50% - #{$gutter}); } }
            @media only screen and (min-width: $breakpointDesktop) { .teaser_text_panel_outer { width: 33.333%; width: calc(33.333% - #{$gutter}); } }
            @media only screen and (min-width: $breakpointWidescreen) { .teaser_text_panel_outer { width: 25%;  width: calc(25% - #{$gutter}); } }




            .teaser_text_panel {
                padding: $gutter $gutter ($buttonHeight + (3 *$gutter)) $gutter;
                // box-shadow: 0.05rem 0.125rem 0.7rem rgba(0,0,0,0.2);
            }
            .teaser_title {
                margin: 0px;
                // font-size: 1.4rem;
                font-weight: 400;
                color: $heroPanelHeadColor;
                font-size: $heroPanelHeadingSize;
                line-height: $heroPanelHeadingLineHeight !important;
            }

            .teaser_title a {
                color: inherit;
                text-decoration: none;
            }
            .teaser_text {

            }
            .teaser_tags {

            }

            .teaser_tags  div {
                display: inline-block;
            }

    @media only screen and (max-width: $breakpointTablet) {           
        div.teaser_wrapper{
            position: static !important;
            overflow: visible;
            // padding-top: 35%;
            min-height: 30rem;
        }
        .teaser_image {
            position: static !important;
            transform: none;
            margin: 0 ($gutter / 2);
        }
        
        .teaser_image img  {
            position: static !important;
            transform: none;
        }
        .teaser_text_panel_outer {
            position: static !important;
            margin: 0 ($gutter / 2);
            width: auto;
            padding: ($gutter / 2);
        }

        .teaser_tags {
            margin-bottom: 1 * $gutter;
        }
      
        .teaser_button {
            display: block;
            margin: 0 ($gutter) ($gutter * 3) ($gutter) ;
        }
    }

}















// largeTeasers ======================================================================================





div.largeTeasers {


display: flex;
flex-direction: row;
flex-wrap: wrap;

    div.teaser_wrapper{
        position: relative;
        overflow: hidden;
        margin: 0 0 $gutter 0;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;

    }

    div.teaserPanelBack {
        display: none;
    }

    .teaser_image  {
        display: block;
        position: absolute;
        // width: 100%;
        top: 0px !important;
        left: $gutter /2 !important;
        right: $gutter /2 !important;
        height: auto;
        padding-top: 70%;
        
        overflow: hidden;
    }

    .teaser_image .contextual-region {
        position: static;
    }

    .teaser_image img {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .teaser_text_panel_outer {
        position: relative;
        flex-grow: 1;
        background: $teaserpanelBackgroundColor;
        border: 1px solid $teaserBorderColor;
        margin: 55% ($gutter * 1.5) $gutter ($gutter * 1.5);
    }
    .teaser_text_panel {
        padding: $gutter $gutter ($buttonHeight + (4 *$gutter)) $gutter;
        // box-shadow: 0.05rem 0.125rem 0.7rem rgba(0,0,0,0.2);
    }
    .teaser_title {
        margin: 0px;
        // color: $highlightColor;
    }

    .teaser_title a {
        color: inherit;
        text-decoration: none;
    }
    .teaser_text {

    }
    .teaser_tags {

    }

    .teaser_tags  div {
        display: inline-block;
    }


    div.teaser_wrapper.noImage {
        .teaser_text_panel_outer {
            margin-top: 0px;
        }
    }

}





// regularTeasers ======================================================================================


/*
$teaserBorderColor: red;
$teaserInset: $gutter /2;
*/

div.regularTeasers {


display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: stretch !important;


    div.teaser_wrapper{
        position: relative;
        overflow: hidden;
        margin: 0  0 ($gutter) 0;
        //display: flex;
        //flex-direction: column;
        //align-items: stretch;
        //justify-content: stretch;
    } 

    div.teaserPanelBack {
        border: 1px solid $teaserBorderColor;
        background: $teaserpanelBackgroundColor;
        position: absolute;
        top: 0px;
        left: ($gutter / 2);
        right: ($gutter / 2);
        bottom: 0px;
    }


    .teaser_image  {
        display: block;
        position: absolute;
        z-index: 500;
        // width: 100%;
        top: $teaserInset !important;
        left: $gutter /2 !important;
        margin-left: $teaserInset;
        // right: 50% !important;
        margin-right: $gutter / 2;
        height: $teaserImageHeightRegular;
        padding-top: 0;
        // height: 7rem;
        overflow: hidden;
        width: $teaserImageWidthRegular;
    }

    .teaser_title {
        margin: 0px;
        margin-left: $teaserImageWidthRegular;
        padding-left: $gutter;
        min-height: $teaserImageHeightRegular;
    }

    .teaser_title > a {
        // padding-left: $teaserInset;
        padding-top: $teaserInset;
        display: block;
    }

    .teaser_image .contextual-region {
        position: static;
    }

    .teaser_image img {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .teaser_text_panel_outer {
        position: relative;
        flex-grow: 1;
        margin: 0 $gutter 0 $teaserInset;;
        background: transparent;
        border-style: none;
        
    }
    .teaser_text_panel {
        padding: 0 $gutter $gutter ($gutter / 2);
        // box-shadow: 0.05rem 0.125rem 0.7rem rgba(0,0,0,0.2);
    }
    

    .teaser_title a {
        color: inherit;
        text-decoration: none;
    }
    .teaser_text {
        padding-top: $gutter;
    }
    .teaser_tags {
        display: none;
    }

    .teaser_tags  div {
        display: inline-block;
    }

    .teaser_button {
        left: $gutter / 2;
        right: $gutter / 2;
        position: static;
    }

    div.teaser_wrapper.noImage {
        .teaser_image  {
            display: none;
        }
        .teaser_title {
            margin-left: 0;
            min-height: 0;
            padding-left: 0 !important;
        }

        .teaser_title a {
            padding-left: 0 !important;
        }
        .teaser_text {
            padding-top: 0;
        }
    }

}













// horizontalTeasers ======================================================================================


div.horizontalTeasers {


display: flex;
flex-direction: row;
flex-wrap: wrap;

    div.teaser_wrapper{
        position: relative;
        overflow: hidden;
        margin: $gutter  0 ;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        min-height: 6rem;
        padding-bottom: (3 * $gutter);
    }


    div.teaserPanelBack {
        border: 1px solid $teaserBorderColor;
        position: absolute;
        background: $teaserpanelBackgroundColor;
        top: 0px;
        left: ($gutter / 2);
        right: ($gutter / 2);
        bottom: 0px;
    }



    .teaser_image  {
        display: block;
        position: absolute;
        // width: 100%;
        top: $teaserInset !important;
        margin-left: $teaserInset;
        left: $gutter /2 !important;
        width: $teaserImageWidthRegular;
        margin-right: $gutter / 2;
        padding-top: 0;
        height: $teaserImageHeightRegular;
        overflow: hidden;
    }

    .teaser_title {
        margin: 0px;
        margin: 0 $teaserInset;
    }

    .teaser_title > a {
        // padding-left: $teaserInset;
        padding-top: $teaserInset;
        display: block;
    }

    .teaser_image .contextual-region {
        position: static;
    }

    .teaser_image img {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .teaser_text_panel_outer {
        position: relative;
        flex-grow: 1;
        margin: 0;
        background: transparent;
        border-style: none;
        margin-left: $teaserImageWidthRegular;
        padding-left: $gutter;
        min-height: $teaserImageHeightRegular;
    }
    .teaser_text_panel {
        padding: 0 $gutter 0 ($gutter / 2);
        // box-shadow: 0.05rem 0.125rem 0.7rem rgba(0,0,0,0.2);
    }
    

    .teaser_title a {
        color: inherit;
        text-decoration: none;
    }
    .teaser_text {
        display: none;
    }
    .teaser_tags {
        display: none;
    }

    .teaser_tags  div {
        display: inline-block;
    }

    .teaser_button {
        position: static;
        display: block;
        margin-top: $gutter;
        margin-left: $teaserInset;
    }


    div.teaser_wrapper.noImage {
        .teaser_image  {
            display: none;
        }
        .teaser_title {
            // margin-left: 0;
            min-height: 0;
            padding-left: 0;
        }
        .teaser_text_panel_outer {
            margin-left: 0;
            padding-left: 0;
        }
    }



}











// textTeasers ======================================================================================


div.textTeasers {


display: flex;
flex-direction: row;
flex-wrap: wrap;

    div.teaser_wrapper{
        position: relative;
        overflow: hidden;
        margin: $gutter  0 ($gutter * 2) 0;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
    }

    .teaserImageLink {
        display: block;
    }


    .teaser_image  {
        display: none;
    }

    .teaser_title {
        margin: 0px 0px ($gutter / 3) 0;
    }

    .teaser_image .contextual-region {
        position: static;
    }

    .teaser_image img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .teaser_text_panel_outer {
        position: relative;
        flex-grow: 1;
        margin: 0;
        background: transparent;
        border-style: none;
        padding-left: 0;
    }
    .teaser_text_panel {
        padding: 0 $gutter 0 ($gutter / 2);
        // box-shadow: 0.05rem 0.125rem 0.7rem rgba(0,0,0,0.2);
    }
    

    .teaser_title a {
        color: inherit;
        text-decoration: none;
    }
    .teaser_text, .teaser_text p {
        // display: none;
        margin: 0px;
    }
    .teaser_tags {
        display: none;
    }

    .teaser_tags  div {
        display: inline-block;
    }

    .teaser_button {
        left: $gutter / 2;
        right: $gutter / 2;
        position: static;
    }

}













// smallTeasers ======================================================================================




/*
$teaserImageWidthRegular: 8rem;
$teaserImageHeightRegular: 8rem;

$teaserImageWidthSmall: 5rem;
$teaserImageHeightSmall: 2rem;
*/




div.smallTeasers {


display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start !important;

    div.teaser_wrapper{
        position: relative;
        overflow: hidden;
        margin: $gutter  0 ($gutter * 2) 0;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
    }

    .teaserPanelBack {
        display: none;
    }


    .teaser_image  {
        display: block;
        position: absolute;
        z-index: 500;
        // width: 100%;
        top: 0px !important;
        left: $gutter /2 !important;
        // right: 70% !important;
        margin-right: $gutter / 2;
        // height: auto;
        padding-top: 0;
        height: $teaserImageHeightSmall !important;
        min-height: $teaserImageHeightSmall !important;
        width: $teaserImageWidthSmall;
        overflow: hidden;
    }

    .teaser_title {
        margin: 0px;
    }

    .teaser_image .contextual-region {
        position: static;
    }

    .teaser_image img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .teaser_text_panel_outer {
        position: relative;
        flex-grow: 1;
        margin: 0;
        background: transparent;
        border-style: none;
        padding-left: $teaserImageWidthSmall;
        margin-left: $gutter;
        min-height: $teaserImageHeightSmall !important;
    }
    .teaser_text_panel {
        padding: 0 $gutter 0 ($gutter / 2);
        // box-shadow: 0.05rem 0.125rem 0.7rem rgba(0,0,0,0.2);
    }
    

    .teaser_title a {
        color: inherit;
        text-decoration: none;
    }
    .teaser_text {
        display: none;
    }
    .teaser_tags {
        display: none;
    }

    .teaser_tags  div {
        display: inline-block;
    }

    .teaser_button {
        position: static;
        display: block;
        margin-top: $gutter;
    }



    div.teaser_wrapper.noImage {
        .teaser_image  {
            display: none;
        }
        .teaser_title {
            margin-left: 0;
            min-height: 0;
            padding-left: 0;
        }
        .teaser_text {
            padding-top: 0;
        }

        .teaser_text_panel_outer {
            padding-left: 0;
        }
    }





}






















// teaser styles ------------------------------------------------

// $teaserBodySize: 1rem;
// $teaserBodyLineHeight: 1.2em;


.teaser_text_panel_outer {
background: white;
border: 1px solid #ccc;
color: $bodyTextColor;
font-size: $teaserBodySize;
line-height: $teaserBodyLineHeight;
}

.teaser_title {
margin: 0px;
line-height: $teaserHeadingLineHeight !important;
font-size: $teaserHeadingSize;
color: $teaserheadingColor;
font-weight: $teaserFontWeight;
}



.teaser_title a {
color: inherit;
text-decoration: none;
}

.teaser_text , .teaser_text  p {
    font-size: $teaserBodySize;
    line-height: $teaserBodyLineHeight;   
}


.teaser_tags  div {
display: inline-block;
}

.teaser_tags a {
background: $highlightColor;
color: white;
padding: 0.25rem 0.5rem;
text-decoration: none;
border-radius: 0.25rem;
}






.teaser_button {
position: absolute;
bottom: $gutter;
left: $gutter;
right: $gutter;
line-height: 1.2em;
padding: 0;
font-weight: bold;
// font-size: 1.2em;
color: $buttonColor;
// color: $buttonTextColor;
text-decoration: none;
transition: all $buttonTransitionTime;
font-family: $fontStackUI;
border: $buttonBorderWidth solid $buttonBorderColor;
}

.teaser_button:hover {
color: $linkHoverColor;
}





.teaser_text, .teaser_text p {

}







div.heroTeasers, div.largeTeasers {

        .teaser_button {
        position: absolute;
        bottom: $gutter;
        left: $gutter;
        right: $gutter;
        height: $buttonHeight;
        line-height: $buttonHeight;
        padding: 0 $gutter;
        background: $buttonColor;
        color: $buttonTextColor;
        text-decoration: none;
        transition: all $buttonTransitionTime;
        border-radius: 0.25rem;
        font-size: 1.2em;
        }

        .teaser_button:hover {
        background: $buttonHoverColor;
        }

        .teaser_image  {
            border-radius: 0;
        }


}


div.regularTeasers, div.horizontalTeasers, div.textTeasers, div.smallTeasers {

    .teaser_image  {
        background: rgba(0,0,0,0.5);
        // border-radius: 50%;
    }
    .teaser_button {
        border: none;
    }

}


div.largeTeasers, div.regularTeasers, div.horizontalTeasers {
    .teaser_image img {
        transition: all $buttonTransitionTime;
    }
}


div.largeTeasers .teaser_wrapper:hover .teaser_image img, 
div.regularTeasers .teaser_wrapper:hover .teaser_image img,
div.horizontalTeasers .teaser_wrapper:hover .teaser_image img {
        transform: scale(1.05) translateY(-50%);
}